.whyDrinkWaterWraper {
  padding: 24px 16px;
  border-radius: 10px;
  background: var(--light-blue-1, #ecf2ff);
  box-shadow: 0px 4px 14px 0px rgba(64, 123, 255, 0.3);
  width: 100%;
}

.whyDrinkWaterTitle {
  color: var(--black, #2f2f2f);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.11;
  padding-bottom: 12px;
}

.whyDrinkWaterList {
  margin-left: 12px;
  display: flex;
  gap: 16px;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.whyDrinkWaterItems {
  color: var(--black, #2f2f2f);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1,25;
  position: relative;
}

.whyDrinkWaterItems::before {
  content: "";
  position: absolute;
  left: -12px;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--dark-blue, #407bff);
}


@media screen and (min-width: 768px) {
  .whyDrinkWaterWraper {
    padding: 32px 24px;
    width: 494px;
  }
}


@media screen and (min-width: 1440px) {
 
}


