.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modalPositionStyle {
  position: absolute;
  top: 105%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 24px 13px;
  width: 280px;
  height: 188px;
  box-shadow: 0 4px 4px 0 rgba(64, 123, 255, 0.3);
  background: var(--white);
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: start;
  align-items: flex-start;
  z-index: 3;
}

.modalButtonCantainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.modalDate {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--dark-blue);
}

.modalDateSvg {
  width: 16px;
  height: 16px;
  stroke: var(--dark-blue);
}

.modalText {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--black);
}

.modalNorma {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33333;
  color: var(--dark-blue);
}

@media screen and (min-width: 768px) {
  .modalPositionStyle {
    position: absolute;
    top: auto;
    left: auto;
    transform: none;
    padding: 24px 16px;
    width: 292px;
  }
}

@media screen and (min-width: 1440px) {
}
