.deleteEntryWrapper {
  border-radius: 10px;
  padding: 32px 24px;
  width: 592px;
  background: var(--white);
}

.deleteEntry {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11111;
  color: var(--black);
  margin: 24px 0;
}

.deleteEntryButtonContainer {
  display: flex;
  gap: 24px;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.deleteEntryButtonCancel {
  border-radius: 10px;
  padding: 10px 30px;
  width: 160px;
  background: var(--light-blue-2);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33333;
  text-align: center;
  color: var(--dark-blue);
}

.deleteEntryButtonCancel:hover,
.deleteEntryButtonCancel:focus {
  box-shadow: 0 4px 14px 0 rgba(64, 123, 255, 0.54);
}

.deleteEntryButtonDelete {
  border-radius: 10px;
  padding: 10px 30px;
  width: 160px;
  height: 44px;
  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
  background: var(--red);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33333;
  text-align: center;
  color: var(--white);
}

.deleteEntryButtonDelete:hover,
.deleteEntryButtonDelete:focus {
  box-shadow: 0 4px 14px 0 rgba(234, 59, 91, 0.708);
}
