.sectionSignupPage {
  padding-top: 24px;
  padding-bottom: 196px;
  background-image: image-set(
    url(../../images/mobile/Background-element-Sign-In.webp) 1x,
    url(../../images/mobile/Background-element-Sign-In@2x.webp) 2x
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

@media screen and (min-width: 768px) {
  .sectionSignupPage {
    padding-top: 40px;
    padding-bottom: 172px;
    background-image: image-set(
      url(../../images/tablet/Background-element-Home-Screen.webp) 1x,
      url(../../images/tablet/Background-element-Home-Screen@2x.webp) 2x
    );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
  }
}

@media screen and (min-width: 1440px) {
  .sectionSignupPage {
    padding-top: 108px;
    padding-bottom: 196px;
    background-image: image-set(
      url(../../images/desctop/Group-36.webp) 1x,
      url(../../images/desctop/Group-36@2x.webp) 2x
    );
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
  }
}
