.todayWaterWrapper {
  width: 100%;
}

.todayWaterListTitle {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 1.23077;
  color: var(--black);
}

.todayWaterList {
  margin: 12px 0;
  /* max-height: 190px; */
  overflow-y: auto;
  height: 190px;
}

.todayWaterList::-webkit-scrollbar {
  width: 3px;
}

.todayWaterList::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.todayWaterList::-webkit-scrollbar-thumb {
  background: var(--light-blue-3);
}

.todayWaterList::-webkit-scrollbar-thumb:hover {
  background: var(--dark-blue);
}

.todayWateritem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px 12px 0;
  border-bottom: 1px solid var(--light-blue-2);
}

.todayWaterVolumeWrapper {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.todayWaterVolumeSvg {
  width: 36px;
  height: 36px;
  stroke: var(--dark-blue);
}

.todayWaterVolum {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33333;
  color: var(--dark-blue);
}

.todayWaterVolumTime {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  color: var(--black);
}

.todayWaterCantainerEditDelete {
  display: flex;
  gap: 18px;
  justify-content: center;
  align-items: center;
}

.loaderContainer {
  height: 190px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.noRecords {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 1.23077;
  color: var(--dark-blue);
  height: 190px;
  padding-top: 50px;
}
