.sectionForgotPasswordPage {
  padding-top: 24px;
  padding-bottom: 24px;
  background-image: image-set(
    url(../../images/mobile/Background-element-Sign-In.webp) 1x,
    url(../../images/mobile/Background-element-Sign-In@2x.webp) 2x
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 57px;
}

@media screen and (min-width: 768px) {
  .sectionForgotPasswordPage {
    padding-top: 40px;
    padding-bottom: 248px;
    background-image: image-set(
      url(../../images/tablet/Background-element-Home-Screen.webp) 1x,
      url(../../images/tablet/Background-element-Home-Screen@2x.webp) 2x
    );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -16px 30px;
  }
}

@media screen and (min-width: 1440px) {
  .sectionForgotPasswordPage {
    padding-top: 113px;
    padding-bottom: 266px;
    background-image: image-set(
      url(../../images/desctop/Group-36.webp) 1x,
      url(../../images/desctop/Group-36@2x.webp) 2x
    );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
