.settingModalWrapper {
  padding: 32px 24px;
  width: 1008px;
}

.settingModalSetting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 24px;
}

.settingModalTitle {
  color: var(--black);
  font-family: Roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 123.077% */
}

.settingModalSvgOutline {
  width: 28px;
  height: 28px;
  stroke: var(--dark-blue);
}

.settingModalForm {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.settingModalYourGenderСontainer {
  flex-basis: calc((100% - 24px) / 2);
}

.settingModalYourGenderWrapper {
  display: flex;
  gap: 12px;
  flex-direction: column;
  align-items: start;
  width: 182px;
  margin-bottom: 52px;
}

.settingModalYourGenderInputWrapper {
  display: flex;
  gap: 20px;
  justify-content: start;
  align-items: center;
}

.settingModalYourGenderTitle {
  color: var(--black);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 111.111% */
  /* margin-bottom: 12px; */
}

.settingModalYourGenderLabel {
  display: flex;
  gap: 8px;
  justify-content: start;
  align-items: center;
  color: var(--black);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  list-style-type: none;
}

.radioInput {
  width: 16px;
  height: 16px;
  border: 3px solid var(--dark-blue);
  position: relative;
}

.radioInput::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid var(--dark-blue);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.settingModalUserInfoWrapper {
  display: flex;
  gap: 24px;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.settingModalUserInfoLabel {
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 100%;
  color: var(--black);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 111.111% */
  position: relative;
}

.settingModalUserInfoInput {
  display: flex;
  padding: 12px 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid var(--light-blue-2);
  color: var(--dark-blue);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  width: 100%;
}

.settingModalUserInfoInput::placeholder {
  color: var(--light-blue-3);
}

.settingModalUserInfoInputError {
  border: 1px solid var(--red);
  color: var(--red);
}

.settingModalUserInfoInputError::placeholder {
  color: var(--red);
}

.errorMessage {
  position: absolute;
  left: 0;
  bottom: -18px;
  color: var(--red);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
}

/* ========   UserPassword   ====== */

.settingModalUserPasswordWrapper {
  display: flex;
  gap: 12px;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-basis: calc((100% - 24px) / 2);
}

.settingModalUserPasswordTitle {
  color: var(--black);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 111.111% */
}

/* ========  Button Save  =========*/

.settingModalButtonSave {
  display: flex;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: var(--dark-blue);
  box-shadow: 0px 4px 8px 0px rgba(64, 123, 255, 0.34);
  color: var(--white);
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
  margin-left: auto;
  width: 160px;
}

.settingModalButtonSave:hover,
.settingModalButtonSave:focus {
  box-shadow: 0px 4px 14px 0px rgba(64, 123, 255, 0.54);
}

.signupPageInputButton {
  position: absolute;
  top: 40px;
  left: 416px;
  padding: 0;
}

.signupPageInputButtonSvg {
  width: 23px;
  height: 23px;
  stroke: var(--dark-blue);
  padding: 0;
}
