.signupPageInputButton {
  position: absolute;
  top: 43px;
  right: 28px;
  padding: 0;
}

.signupPageInputButtonSvg {
  width: 23px;
  height: 23px;
  stroke: var(--dark-blue, #407bff);
  padding: 0;
}
