.monthStatsPaginatorCantainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 568px;
}

.monthStatsPaginatorTitle {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 1.23077;
  color: var(--black);
}

.monthStatsPaginatorCantainerButton {
  display: flex;
  grid-area: 20px;
  justify-content: center;
  align-items: center;
}

.monthStatsPaginatorButtonSvg {
  width: 16px;
  height: 16px;
  fill: var(--dark-blue);
}

.monthStatsPaginatorSpan {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: var(--dark-blue);
}

.hiddenSvg {
  display: none;
}

.buttonCurrentMonth {
  padding: 1px 14px;
}
