.sectionHomePage {
  padding-top: 20px;
  padding-bottom: 40px;
  background-image: url(../../images/desctop/Group-36.webp),
    url(../../images/desctop/Bottle-for-Sign-in.webp);
  background-repeat: no-repeat, no-repeat;
  background-size: contain, 700px;
  background-position: 50% 50%, 88px 64px;
}

.sectionHomePageWrapper {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: start;
}

.sectionHomePageDaily {
  flex-basis: calc((100% - 24px) / 2);
}

.sectionHomePageToday {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: start;
  align-items: start;
  width: 100%;
  border-radius: 10px;
  padding: 32px 24px;
  box-shadow: 0 4px 14px 0 rgba(64, 123, 255, 0.3);
  background: #ecf2ff;
  flex-basis: calc((100% - 24px) / 2);
}
