.sectionHomePage {
  padding-top: 20px;
  padding-bottom: 40px;
  background-image: url(../../images/desctop/Group-36.webp),
    url(../../images/desctop/Bottle-for-Sign-in.webp);
  background-repeat: no-repeat, no-repeat;
  background-size: contain, 700px;
  background-position: 50% 50%, 88px 64px;
}
