.editWaterSvg {
  width: 18px;
  height: 18px;
  stroke: var(--dark-blue);
}

.editWaterButton {
  position: relative;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.editWaterButton:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: var(--dark-blue);
}
